<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include('../partials/_header') %>
    <title>Billsplit - History</title>
    <!-- LINKS TO EXTERNAL STYLESHEETS
            format: rel="/stylesheets/example.css" -->
    <link rel="stylesheet" href="/stylesheets/calculator_style.css">
    <link rel="stylesheet" href="/stylesheets/history.css">
    <style>
        /* page specific style declarations */
        .addUser {
            margin: 0.3rem;
            margin-left: auto;
            margin-right: 1.5rem;
            color: var(--text_dark);
            font-size: 18px; 
            padding: 0.2rem;
            opacity: 0.8;
            border: 2px solid transparent;
            border-radius: 0.3rem;
            transition: 0.3s;
        }
        .addUser i {
            padding-left: 0.15rem;
        }

        .addUser:hover {
            cursor: pointer;
            border-color: var(--text_dark_low_opacity);
        }
        .buttonHolder {
            display: flex;
            justify-content: space-between;
            padding: 0 0.5rem;
        }
    </style>
    
</head>
    
<body>
    <div id="pageContainer">
        <!-- HEADER STUFF, CAN IGNORE -->
        <%- include('../partials/_nav') %>

        <!-- ALL PAGE CONTENT INSIDE HERE -->
        <div class="container" style="width: 100vw; overflow: hidden;">
            <div class="saveArea">
                <form name="share" method="POST" action="/share" class="saveForm">
                    <label>Share Receipt<i class="fa fa-close" onclick="closeSaveMenu()"></i></label>
                    <input type="text" name="title" placeholder="" disabled>
                    <label class="share" onclick="addSharedUser()">With <i class="fa fa-plus-square"></i></label>
                    <div id="sharedUsers">

                    </div>
                    <div class="saveButton">Share</div>
                    <div class="note">
                        Receipt changes are final when saved
                    </div>
                    <input name="receiptJSON" type="hidden" value="">
                </form>
            </div>
            <h1>Previous Receipts</h1>
            <div id="slider">
                <div class="prevReceipts">
                    <ul id="receiptList" class="receiptsList">
                    </ul>
                </div>
                <div class="receiptSlide">
                    
                    <div class="receiptWrap">
                        <div id="topInfo">
                            <span class="buttonHolder">
                                <i class="fa fa-arrow-left"onclick="slideBack()"><span>Back</span></i>
                                <form name="delete" action="/delete" method="POST">
                                    <i class="fa fa-trash" id="deleteButton" onclick="deleteReceipt()"></i>
                                    <input type="hidden" name="id">  
                                    <input type="hidden" name="receiptJSON">   
                                </form>
                            </span>
                            <span style="display: flex; vertical-align: center; justify-content: space-around;">
                                
                                <div class="receiptTitle"></div>
                                <div class="receiptDate" style="padding-top:0.5rem"></div>
                            </span>
                        </div>
                            <div id="fullReceipt">
                            <div class="receiptHeader">
                                <li class="items">Item</li>
                                <li class="prices" style="list-style-type: none; padding-left:0.8rem">Price</li>
                                <li class="sharedBy" style="margin-left: 3em;">Shared By</li>
                            </div>
                        </div>
                        <div class="remaining">
                        <div class="taxTot">Total:  $
                            <div id="totalVal">0</div>
                            <div id="tax">Tax:  6.25%</div>
                        </div>
                            <span id="totalsRow">
                            
                            </span>
                            <div class="addUser" onclick="sharePrevReceipt()">Share<i class="fa fa-plus-square"></i></div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>      
        <form style="display: none;" id="errorDetect" method="post" action="/history">
            <input type="hidden" value="" name="username">
        </form>
        <!-- FOOTER CAN IGNORE -->
        <%- include('../partials/_footer') %>
    </div>
    
</body> 
    <!-- get username information, sorry it's named guestUser
            gives access to set and delete username functions -->
    <%- include('../partials/_guestUser') %>

    <!-- LINKS TO EXTERNAL FUNCTION SCRIPTS
         format: src"/scripts/example.js" --> 
    <script src="/scripts/historyBackend.js"></script>
    <script src="/scripts/calculatorBackend.js"></script>
    
    <!-- Page Executable -->
    <script>
    var nameColors = ["#add45c","#6AD2FF","#F6E65E","#28E1D4",
                          "#ff5732","#d478FD","#7883fd","#FFAD37",
                          "#F31656"];
        var names = [];
        var initials = [];
        var items = [];
        var prices = [];
        var sharedBy = [];
        var tax = 1.0625;
        var totals = [];
        var finalTotals = []; //dummy, ignore
        var payer = -1;

        var receiptstring = <%- allReceipts %>; //receive string of {receipts: [array of receipts]}
        const receipts = receiptstring.receipts.reverse(); //just the array
        createReceiptList(receipts); //pass the array
        addSharedUser();
    </script>
</html>